* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #22254B;
  color: white;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #373B69;
  padding: 1rem;
}

.search {
  background-color: transparent;
  border: 2px solid #22254B;
  border-radius: 50px;
  color: #FFF;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: 0;
}

.movie-container {
  background-color: #373B69;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  position: relative;
  background-color: #373B69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 300px;
}

.movie img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  color: #373B69;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%)
}

.tag {
  background-color: #373B69;
  border-radius: 5px;
  padding: 00.5rem;
}
.tag.green {
  color: rgb(82, 247, 82)
}
.tag.orange {
  color: rgb(243, 173, 44)
}
.tag.red {
  color: rgb(245, 100, 100)
}